page-densidade {
    .card-content-md {
        padding: 13px 16px;
        border-radius: 10px;
        font-size: 1.6rem;
        line-height: 1.5;
    }
    ion-app.md {
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        font-size: 1.8rem;
        background-color: #fff;
    }
}
